#nav-input-title{
    /* width: 80%;
    height: 2em; */
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    background-color: transparent;
    border: 0px solid;
}

#app{
    min-height: 100vh;
}

#body{
    padding-left: 1em;
    padding-right: 1em;
}

.tool-bar > *{
    margin-left: 1em;
    margin-right: 1em;
}

#canvas-div{
    background-color: white;
}